.mainContainer{
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    -ms-overflow-style: none;  
  scrollbar-width: none;
   
}

.Container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create{
    position: sticky;
    top:0px;
    left:0px;
    width:100%;
    background: white;
    display: flex;
    justify-content: center;

    z-index: 2;
}

.createit{
    background-color: blue;
    border-radius: 10px;
    padding: 7px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    word-break: normal;
    line-height: 1;
}

.FORM{
    border-radius: 10px;
    position: fixed;
    top:0px;
    left:0px;
    max-height: 100%;
    overflow-y: auto;
    width: 100%;
    
    border: 2px solid gray;
    z-index: 2;
}


.detailconetnt{
    border-bottom: 1px solid gray;
    padding: 10px;
    background: white;
    
}


.fillform{
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 20px;
}

.detailsoptions{
    display: inline-block;
     width: 195px;
     font-size: 20px;
     padding: 10px;
     margin-bottom: 5px;
}


.filltoption{
    
    border:1px solid blue;
     width: 200px;
     font-size: 20px;
     padding: 10px;
     border-radius: 10px;
     outline: none;
     font-style: italic;
}

.Submit{
    width: 150px;
    background: darkblue;
    padding: 10px 0px;
    color: white;
    font-style: italic;
    border-radius: 15px;
}

.cancle{
    width: 150px;
    background: darkred;
    padding: 10px 0px;
    color: white;
    font-style: italic;
    border-radius: 15px;
}

.canclewarning{
    border-radius: 10px;
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: blueviolet;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canclewrningword{
    color:red;
    font-size: 30px;
    padding: 30px 10px;
    border-radius: 15px;
    background: black;
    display: flex;
    align-items: center;
    text-align: center;
    opacity: 1;
}


.createditem{
    position:fixed;
    left:0px;
    top: 4.5rem;
    bottom: 0px;
    max-height: 100%;
    overflow-y: auto;
    -ms-overflow-style: none; 
      scrollbar-width: none;
     border-top: 2px solid black;
     display: flex;
     justify-content: center;
     width: 100%;
}



.displaylandname{

    margin-right: 5px;
    display: block;
    align-items: center;
    margin-bottom: 10px;
    background-color: rgb(116, 45, 45);
    border-radius: 10px;
    color: white;
    padding: 5px 15px;
}


.Showdetail2LandsID{
    font-weight: bold;
    font-size: 18px;
}

.landDtls{
    background-color: green;
    padding: 6px 0px;
    border-radius: 10px;
    
    margin-right: 2px;
}


.Btn{
    color: white;
    font-weight: bold;
}


.landinpittag{
   
    word-break: break-all;
    margin-left: 4px;
    font-weight: bold;
    font-size: 20px;
    font-style: oblique;
}

.landinpittag1{
    color: gray;
    font-weight: bold;
    font-size: 20px;
    font-style: oblique;
}

.thisislandname{
    margin-left: 4px;
    font-weight: bold;
    font-size: 20px;
    font-style: oblique;
}

.Edit {
    background-color: gray;
    padding: 6px 8px;
    border-radius: 10px;
    margin-right: 2px;
}

.update{
    background-color: darkblue;
    padding: 6px 8px;
    border-radius: 10px;
    margin-right: 2px;
}

.update1{
    background-color: darkblue;
    padding: 4px 4px;
    border-radius: 10px;
    margin-left: 5px;
}


.delete{
    background-color: red;
    padding: 6px 8px;
    border-radius: 10px;
}

.samedelete{
    transform: scale(0.9);
    color: white;
    background: red;
    padding: 2px;
    border-radius: 8px;
}

.sameedit{
    transform: scale(0.9);
    color: white;
    background: gray;
    padding: 2px;
    border-radius: 8px;
}

.sameupdate{
    transform: scale(0.9);
    color: white;
    background: darkblue;
    padding: 2px;
    border-radius: 8px;
}

.fixedShowdetails{
    border: 2px solid gray;
    border-radius: 10px;
    margin-left: 10px;
    position: relative;
    top: 10px;
    box-shadow: -2px 0px 2px #888888,
                2px -2px 2px #888888,
                -2px 2px 2px #888888
                 ;   
                 
    
}


.fixed2{
    position: sticky;
    top: 0px;
    right: 0px;
    max-height: 100%;
    overflow-y: auto;
}

.Showdetails{
    padding: 5px;
}

.Showdetail2{
   margin-bottom: 20px;
}

.same2{
    display: inline-block;
    width: 140px;
}

.LANDSFILLED{
    font-size: 18px;
}


